* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/* Section 1 */
.section-1 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 5vw 20vw 5vw 20vw;
    background: linear-gradient(#fff, rgb(194, 192, 192));
}

.s1-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid rgb(51, 50, 50);
    box-shadow: 0 0 30px rgba(44, 43, 43, 0.3);
}

.s1-pg-div {
    width: 300px;
    height: 250px;
    margin-top: 2vh;
}

.s1-pg-div h1 {
    width: 100%
}


.s1-pg-div p {
    width: 100%;
    text-align:justify;
    text-shadow: 0 0 30px rgba(44, 43, 43, 0.3);
}

.ani-btn {
    margin-top: 1vh;
    margin-right: 0.5vh;
    padding: 2px 4px;
    background: rgb(194, 192, 192);
    border: 1px solid rgb(51, 50, 50);
    cursor: pointer;
    transition: 0.2s;
}

.ani-btn:hover {
    transform: translateY(-0.2rem);
}

/* End of section 1 */


/* Section 2 */
.section-2 {
    padding: 0.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    background:rgb(224, 224, 224);
}
/* s2 Title */
.s2-title {
    letter-spacing: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}

/* s2 Project list */
.s2-project-container {
    display: flex;
    justify-content:space-evenly;
}

.project-card {
    width: 200px;
    height: 350px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 1px rgb(24, 24, 24);
    background-color: #a0a0a0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem rgb(92, 92, 92);
    position: relative;
    transition: 0.5s, box-shadow 0.5s;
}

.project-card:hover{
    background-color: #5e5e5e;
    transform: rotateY(20deg) skewX(-2deg) translateY(-1rem);
    box-shadow: 2rem 2rem 2rem rgb(63, 63, 63);
}

.card-name {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #111;
}

.card-img {
    border: solid 1px rgb(24, 24, 24);
    width: 200px;
    height: 100%;
}
/* End of section 2 */

/* Separar botoes s1 de botoes s2 */