* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background: linear-gradient(rgb(255, 255, 255), rgb(194, 192, 192));
}
/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content:right;
    align-items:center;
    position: fixed;
}
.navbar-link {
    margin: 0.5rem 1rem;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}
/* End of navbar */


/* Home */
.home-section {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.home-container {
    padding: 10rem 5rem;
    margin-top: 2vh;
    
}
.home-container h1 {
    font-size: 2rem;
    width: 100%
}
.home-container p {
    width: 100%;
    text-align:justify;
    text-shadow: 0 0 30px rgba(44, 43, 43, 0.3);
}
.social-btns {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
/* End of Home */


/* Works */
.works-section {
    padding: 4rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    background:rgb(247, 247, 247);
    margin-bottom: 2rem;
}
.works-title {
    letter-spacing: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}


/* Case study */

/* End of Case study */


/* Contact */
.contact-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid rgb(51, 50, 50);
    box-shadow: 0 0 30px rgba(44, 43, 43, 0.3);
}
/* End of contact */

/* Separar botoes s1 de botoes s2 */